.overviewPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .summaryInfo {
    display: flex;
    gap: 10px;

    .summary {
      --card-width: 332px;
      --card-height: 120px;
    }
  }

  .pies {
    display: flex;
    gap: 15px;
    .chartsInfo {
      --card-width: 500px;
      --card-height: 350px;
      text-align: center;

      p {
        padding-bottom: 10px;
      }
    }
  }

  .alertsSource {
    --card-width: 1015px;
    --card-height: 350px;
    text-align: center;
  }
}
