.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.45rem 0.9rem;
  border-radius: 0.6rem;

  border: 1px solid var(--button-action-border);
  background: var(--button-action-bg);
  color: var(--button-action-text);

  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  cursor: pointer;
  transition:
    background 0.15s ease,
    border-color 0.15s ease,
    color 0.15s ease,
    transform 0.1s ease;
  width: 70px;
  height: 35px;

  span {
    pointer-events: none;
  }

  &:hover:not(:disabled) {
    background: var(--button-action-hover-bg);
    border-color: var(--button-action-hover-border);
    transform: translateY(-1px);
  }

  &:active:not(:disabled) {
    transform: translateY(0);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.active {
  @extend .button;
  background: var(--button-action-active-bg);
  border-color: var(--button-action-active-border);
}
