.dataPreview {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;

  .name {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .description {
    font-size: 14px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }

  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
  }
}
